.number-input {
    & input {
        width: 10ch;
        padding: 1px 6px;
        margin: 1px;
        border: 1px solid #3f3f3f;
        border-radius: 4px;
        outline: none;

        &:focus {
            margin: 0;
            border: 2px solid #3f3f3f;
        }
    }
}