@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.checkout {
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    padding: 15px;
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: #000000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
    color: #FAFAFA;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}