@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.chat-box {
    height: calc(100vh - 30px);
    width: calc(100vw - 30px);
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: #000000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
    color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    &--standalone {
        background: none;
        background-color: none;
    }
}

.log {
    &--standalone {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 10px 10px;
    }
}

#log>div {
    animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease 15s forwards;
    -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease 15s forwards;
}

.colon {
    display: none;
}

#log {
    display: flex;
    flex-direction: column;
    justify-content: end;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    padding: 0 10px 10px;
    width: 100%;
}

#log>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    display: block;
    padding-bottom: 0.1em;
}

#log .meta {
    width: 35%;
    text-align: right;
    padding: 0 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#log .message {
    overflow-wrap: anywhere;
    width: 65%;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
    margin-left: 0.2em;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
 } 

 @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}